
@{
    ViewData["Title"] = " About Us";
}
<h1>About Fabulous Flame</h1>
<p>Michigan Based, Small Family Owned & Operated Business. We specialize in Hand Crafted, Hand Poured, All-Natural Soy Wax Candles. Are wax blends are petroleum free. Designed are very own signature line of fragrance scents, which will bring a truly one of a kind aroma to your home.</p>
<h2>Our Store</h2>
<p>172 N. Old Woodward Ave.</p>
<p> Birmingham, Michigan</p>
<h3>Our Staff</h3>
<p>We are a family owned, small team out of Detroit, Michigan inspired to innovate and create a trusted Wellness Brand with a global mission… Here before the pandemic, and here to help now more than ever, proudly curated in Detroit, MI USA. </p>
<h3>About Candels which we are making in Fabulous Flame</h3>
<h5>Artificial Candel</h5>
<img src="..\wwwroot/Img/1.jpg" alt="Artificial Candel" />
<p>Flameless candles are an electronic alternative to traditional wick candles. They are typically utilized as aesthetic lighting devices and come in a variety of shapes, colors and sizes. A flame-effect lightbulb contains multiple small light-emitting diodes and a control circuit to flash them in a semi-regular, flickering pattern. The bulb may be sold separately with a standard Edison screw for use in ordinary fixtures, or in a self-contained housing with battery.</p>
<h5>Natural Candel</h5>
<img src="~/Img/2.jpg" alt="Natural Candel" />
<p>A candle is an ignitable wick embedded in wax, or another flammable solid substance such as tallow, that provides light, and in some cases, a fragrance. A candle can also provide heat or a method of keeping time.</p>
<h5>Soy Candel</h5>
<img src="~/Img/3.jpg" alt="Soy Candel"/>
<p>Soy candles are candles made from soy wax, which is a processed form of soybean oil. They are usually container candles, because soy wax typically has a lower melting point than traditional waxes, but can also be made into pillar candles if certain additives are mixed into the soy wax.</p>


