@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = " About";
}

<h2>About Candels</h2>
<h5>Artificial Candel</h5>
<img src="..\wwwroot/Img/1.jpg" alt="Artificial Candel" />
<p>Flameless candles are an electronic alternative to traditional wick candles. They are typically utilized as aesthetic lighting devices and come in a variety of shapes, colors and sizes. A flame-effect lightbulb contains multiple small light-emitting diodes and a control circuit to flash them in a semi-regular, flickering pattern. The bulb may be sold separately with a standard Edison screw for use in ordinary fixtures, or in a self-contained housing with battery.</p>
<h5>Natural Candel</h5>
<img src="~/Img/2.jpg" alt="Natural Candel" />
<p>A candle is an ignitable wick embedded in wax, or another flammable solid substance such as tallow, that provides light, and in some cases, a fragrance. A candle can also provide heat or a method of keeping time.</p>
<h5>Soy Candel</h5>
<img src="~/Img/3.jpg" alt="Soy Candel"/>
<p>Soy candles are candles made from soy wax, which is a processed form of soybean oil. They are usually container candles, because soy wax typically has a lower melting point than traditional waxes, but can also be made into pillar candles if certain additives are mixed into the soy wax.</p>


